body {
  font-family: Helvetica;
  // background-image: url("https://images.unsplash.com/photo-1511804472014-fa7b871cd6a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  color: #ffb3b3;
}

.list{
  list-style-type: none;
}
